// Default variables
html {
  --base-font-size: 1.7vmin;
}

// Light default theme
body {
  --space: 3.5rem;
  --content-width: 860px;
  --header-height: 80px;
  --radius: 5px;
  --bg-color: #000;
  --bg-content-color: #000;
  --bg-code: rgba(0, 0, 0, 0.3);
  --border-color: rgba(255, 255, 255, 0.1);
  --body-color: orange;
  --title-color: pink;
  --link-color: #ced8de;
  --invert: 100%;
}

// Make  things smaller for mobile
@media screen and (max-width: 650px) {
  html {
    --base-font-size: 4vmin;
  }
  body {
    --space: 1.5rem;
    --header-height: 60px;
  }
}
